<extend name="Public:common" />
<block name="content">
	<div class="am-cf am-padding">
		<div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">用户管理</strong> / <small>新增教师</small></div>
	</div>
	<form class="am-form" action="{: U('add')}" method="POST">
		<div class="am-g am-margin-top">
			<div class="am-u-sm-4 am-u-md-2 am-text-right">学工号</div>
			<div class="am-u-sm-8 am-u-md-4">
				<input type="text" class="am-input-sm" name="username" value="{: $site['username'] }">
			</div>
			<div class="am-hide-sm-only am-u-md-6"></div>
		</div>

		<div class="am-g am-margin-top">
			<div class="am-u-sm-4 am-u-md-2 am-text-right">真实姓名</div>
			<div class="am-u-sm-8 am-u-md-4 am-u-end col-end">
				<input type="text" class="am-input-sm" name="truename" value="{: $site['truename'] }">
			</div>
		</div>

		<div class="am-g am-margin-top">
			<div class="am-u-sm-4 am-u-md-2 am-text-right">密码</div>
			<div class="am-u-sm-8 am-u-md-4 am-u-end col-end">
				<input type="text" class="am-input-sm" name="password" value="{: $site['password'] }">
			</div>
		</div>

		<div class="am-g am-margin-top">
			<div class="am-u-sm-4 am-u-md-2 am-text-right">性别</div>
			<div class="am-u-sm-8 am-u-md-4">
				<select data-am-selected="{btnSize: 'sm'}"	 name="sex">
					<if condition="$site['sex'] eq 1" >
						<option value="1" selected="selected">男</option>
						<option value="0">女</option>
					<else />
						<option value="1">男</option>
						<option value="0" selected="selected">女</option>
					</if>
				</select>
			</div>
			<div class="am-hide-sm-only am-u-md-6">*必填</div>
		</div>

<!-- 		<div class="am-g am-margin-top">
			<div class="am-u-sm-4 am-u-md-2 am-text-right">班级</div>
			<div class="am-u-sm-8 am-u-md-4">
				<select data-am-selected="{btnSize: 'sm'}"	 name="class_id">
					<volist name="classlist" id="vo">
						<option value="{: $vo['id'] }">{: $vo['name'] }</option>
					</volist>
				</select>
			</div>
			<div class="am-hide-sm-only am-u-md-6">*必填</div>
		</div> -->

		<div class="am-g am-margin-top">
			<div class="am-u-sm-4 am-u-md-2 am-text-right">用户角色</div>
			<div class="am-u-sm-8 am-u-md-4">
				<select data-am-selected="{btnSize: 'sm'}" name="role">
						<option value="1" selected="selected">教师</option>
				</select>
			</div>
			<div class="am-hide-sm-only am-u-md-6">*必填</div>
		</div>



		<div class="am-g am-margin-top">
			<div class="am-u-sm-4 am-u-md-2 am-text-right">　
			</div>
			<div class="am-u-sm-8 am-u-md-4">
				<button type="submit" class="am-btn am-btn-primary am-btn-xs">提交保存</button>
			</div>
			<div class="am-hide-sm-only am-u-md-6">　</div>
		</div>
		<div class="am-g am-margin-top">
			<p>　</p>
			<p>　</p>
			<p>　</p>
			<p>　</p>
			<p>　</p>
		</div>
	</form>
</block>